<% provide(:title, "Home") %>
<div class="jumbotron">
  <%= image_tag 'static_background.jpg', class: "background_img" %>
  <div>
    <h2>イベント予約システムへようこそ</h2>
      <div class="account-list">
        <div class="account1">
          <p>ゲストアカウント1（一般）</p>
          <ul>
            <li>MAIL: anakin1359@gmail.com</li>
            <li>PW: password01</li>
          </ul>
        </div>
        <div class="account2">
          <p>ゲストアカウント2（管理）</p>
          <ul>
            <li>MAIL: admin@example.com</li>
            <li>PW: password0#</li>
          </ul>
        </div>
      </div>
  </div>
</div>
