<% provide(:title, "Home") %>

<div class="infomartion">
  <div class="guide">
    <h2>Circle appへようこそ</h2>
    <p>
      Circle appはサークル活動を行うにあたり、チーム内でのコミュニケーションを<br>
      より容易にわかりやすく行うためのWEBサイトです<br>
    </p>
  </div>
  <%= image_tag 'static_background.jpg', class: "background_img" %>
</div>
