// /* Users index */

.users-index {
  padding-top: 50px;
  padding-bottom: 70px;
  .users {
    list-style: none;
    margin: 0;
    li {
      overflow: auto;
      padding: 10px 0;
      border-bottom: solid 1px #ccc;
    }
    .users-icon {
      border-radius: 50%;
      border: 1px solid #bbb;
      margin-right: 10px;
    }
  }
}
