<% provide(:title, 'ユーザ一覧') %>

<div class="users-index">
  <h2>ユーザ一覧</h2>
  <%= will_paginate %>
  
  <ul class="users">
    <%= render @users %>
    <h2>
      <%= react_component("HelloMessage", { greeting: "Hello from react-rails." }) %>
    </h2>
  </ul>
  
  <%= will_paginate %>
</div>
