@import "bootstrap-sprockets";
@import "bootstrap";

/* Event create & update */

.event-form {
  padding: 30px 60px;
  margin: 20px 70px;
  background: #FFF;
  border-radius: 3px;
  box-shadow: 0 0px 20px rgba(0,0,0,0.2);
  h2 {
    padding-bottom: 20px;
    text-align: center;
  }

  .evemt-field {
    padding: 10px 0px 20px 100px;
    .label-item {
      color: rgb(167, 158, 158);
    }

    input[type="text"] {
      width: 500px;
      height: 25px;
    }

    textarea[type="textarea"] {
      width: 500px;
      height: 80px;
    }

    input[type="date"] {
      width: 500px;
      height: 25px;
      font-size: 12px;
    }

    input[type="number"] {
      width: 500px;
      height: 25px;
    }

    input[type="file"] {
      width: 500px;
      height: 40px;
      font-size: 12px;
    }
  }
  .actions {
    text-align: center;
    padding-bottom: 70px;
    .btn {
      padding: 5px 20px;
      margin-top: 15px;
      border: 0 none;
      font-weight: 500;
    }
  }
}
