@import "bootstrap-sprockets";
@import "bootstrap";

// /* user login & signup */

.sign-form {
  padding: 30px 60px;
  margin: 20px 70px;
  background: #FFF;
  border-radius: 3px;
  box-shadow: 0 0px 20px rgba(0,0,0,0.2);
  h2 {
    padding-bottom: 20px;
    text-align: center;
  }
}

.field {
  padding-bottom: 20px;
  padding-left: 200px;
  .label-item {
    color: rgb(167, 158, 158);
  }
}

input[type="email"] {
  width: 300px;
  height: 25px;
}

input[type="password"] {
  width: 300px;
  height: 25px;
}

.actions {
  text-align: center;
  padding-bottom: 20px;
  .btn {
    padding: 5px 20px;
    margin-top: 15px;
    border: 0 none;
    font-weight: 500;
    text-transform: uppercase;
  }
}

