<footer class="footer">
  <div class="container">
    <nav>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Contact", '#' %></li>
        <li><%= link_to "Circle appについて", about_path %></li>
      </ul>
    </nav>
  </div>
</footer>
