<% if flash.any? %>
  <% flash.each do |key, value| %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        <%= content_tag(:div, value, class: "#{key}") %>
      </div>
    </div>
  <% end %>
  <% flash.clear %>
<% end %>
